<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hardstonelive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hardstonelive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HardStoneLive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>msimms</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User ID=msimms@zt8ytbwr1z;Password=ak19374qp!!!" Name="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User Id=msimms@zt8ytbwr1z;Password=ak19374qp!!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HardStone.Models.ApplicationDbContext, HardStone" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ObjectDatabaseConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User ID=msimms@zt8ytbwr1z;Password=ak19374qp!!!" Name="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User Id=msimms@zt8ytbwr1z;Password=ak19374qp!!!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=ObjectDatabase;Integrated Security=False;Persist Security Info=True;User ID=msimms@zt8ytbwr1z;Password=Octoberb@by;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ObjectDatabaseConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=ObjectDatabase;Integrated Security=False;Persist Security Info=True;User ID=msimms@zt8ytbwr1z;Password=Octoberb@by;Connect Timeout=30;Encrypt=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ObjectDatabase" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User ID=msimms@zt8ytbwr1z;Password=ak19374qp!!!" Name="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User Id=msimms@zt8ytbwr1z;Password=ak19374qp!!!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=ObjectDatabase;Integrated Security=False;User ID=msimms@zt8ytbwr1z;Password={Octoberb@by};Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ObjectDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:zt8ytbwr1z.database.windows.net,1433;Database=ObjectDatabase;User ID=msimms@zt8ytbwr1z;Password={Octoberb@by};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HardStoA2bZzPFS7ConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;Persist Security Info=True;User ID=msimms;Password=ak19374qp!!!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HardStoA2bZzPFS7ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;Persist Security Info=True;User ID=msimms;Password=ak19374qp!!!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User Id=msimms@zt8ytbwr1z;Password=ak19374qp!!!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ObjectDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User Id=msimms@zt8ytbwr1z;Password=ak19374qp!!!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ObjectDatabaseConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zt8ytbwr1z.database.windows.net,1433;Initial Catalog=HardStoA2bZzPFS7;User Id=msimms@zt8ytbwr1z;Password=ak19374qp!!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>